.footer-1{
   background-color: rgb(210, 210, 213);
}

#footitle-1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    -ms-text-combine-horizontal: all;
}

#foosubtitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: lighter;
}

#fooemail{
    margin-left: 645px;
    margin-top: 0px;
    align-content: center;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 4px;
}

#foobutton{
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: large;
}

.footer-2{
    background-color: rgb(25, 25, 25);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#foologo{
    margin-left: 700px;
    margin-top: 30px;
    height: 80px;
    width: 80px;
}

#fooicon{
    margin-left: 634px;
    margin-top: 10px;
    align-content: center;

}

.foofacebook{
    width: 40px;
    height: 40px;
}

.fooinstagram{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.fooyoutube{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.foopintrest{
    width: 45px;
    height: 45px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-top: 6px;
    align-self: center;
}

a:hover{
    background-color: rgb(76, 63, 63);
}

hr.footop{
    border-top: 4px solid rgb(224, 220, 220);
}

hr.foobottom{
    border-bottom: 4px solid rgb(232, 230, 230);
}

.foolinks{
    text-align: center;
    text-decoration: none;
    word-spacing: 120px;
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

#fooone{
    word-spacing: 2px;
    color: #e86363;
}

#footwo{
    word-spacing: 2px;
    color: #e86363;
}

#foothree{
    word-spacing: 2px;
    color: #e86363;
}

#fooreturns{
    color: #e86363;
}

#foofaqs{
    color: #e86363;
}

a:link{
    text-decoration: none;
    text-emphasis-color: white;
}

.foocontact-info{
   display: flex;
}

#fooh2{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

#foop{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    line-height: 15px;
    color: white;
}

.foocontact{
    text-align: left;
    margin-left: 20px;
}

.foosupport{
    text-align: center;
    margin-left: 300px;
}

.foocareer{
    text-align: right;
    margin-left: 300px;
    color: white;
}

.fooapp{
    display: flex;
    align-content: center;
    margin-left: 10px;
}

.fooh2{
   font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   color: white;
}

.foooffer{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 200;
    margin-top: 2px;
    color: white;
}

.fooimage-1{
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.fooimage-2{
    width: 205px;
    height: 100px;
    margin-left: 30px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}



